body {
  background: #bdbdbd;
}

/* Navigation bar style  */
.navigation-bar {
  height: 50px;
  font-size: 14px;
}

/* Jumbotron style */
.tagline-jumbo {
  background: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
  text-align: center;
  padding: 50px 5px 200px 5px;
}

.headings-tagline {
  position: relative;
}

.display-1,
.display-3 {
  position: relative;
  font-weight: bold;
}

/* The first heading style */
.heading-one {
  padding: 50px 100px 0px 100px;
}

/* The second heading style */
.heading-services {
  padding: 0px 100px 0px 100px;
}

/* Portfolio style */
.portfolio {
  padding: 50px 100px 0px 100px;
}
.card-title {
  color: rgb(100, 100, 224);
}

.cards-padding {
  gap: 15px;
}

/* Contact style */
.contact-form {
  padding: 50px 100px 0px 100px;
}

.bordered-container {
  border: 1px;
  border-radius: 5px;
  background-color: rgb(226, 229, 230);
  padding-bottom: 10px;
}

/* Footer style */
.footer-style {
  margin-bottom: 0;
  padding: 50px 100px 50px 100px;
  color: rgb(137, 146, 153);
}
