<!-- your html code here -->
<div class="container-fluid bg-light">
  <div class="row heading-one">
    <div class="col-9 border-top border-bottom border-secondary py-5 px-0">
      <h2>
        This First Heading
        <span class="text-secondary">Will Catch Your eye</span>
      </h2>
      <p>
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisquenisl consectetur. Fusce dapibus, teilus ac cursus commodo
      </p>
    </div>
    <div class="col-3 border-top border-bottom border-secondary py-5 px-0">
      <img
        src="assets/img/1.jpg"
        alt="man photo"
        class="img-fluid rounded-circle"
      />
    </div>
  </div>
</div>
