<!-- your html code here -->
<div class="container-fluid portfolio bg-light">
  <h5>Portfolio</h5>
  <p>
    Donec ullamcrper nulla non metus auctor fringilla. Vestibulum id ligula
    porta felis eusimod semper. Praesent commodo cursus magna, vel scelerisque
    nisl Consectetur. Fusce dapibus, tellus ac cursus commodo.
  </p>
  <div class="card-group">
    <div class="card">
      <img
        src="https://yt3.googleusercontent.com/emFOgePlK8t44r7EdwU_c5BrO8-k-lrmYBI6zTa4jmTNSW0E5NzMv6eP8DeFMtrZ3oBUT642Yw=s900-c-k-c0x00ffffff-no-rj"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          sollicitudin ac ex ut venenatis. Donec molestie commodo odio id
          tristique.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://yt3.googleusercontent.com/emFOgePlK8t44r7EdwU_c5BrO8-k-lrmYBI6zTa4jmTNSW0E5NzMv6eP8DeFMtrZ3oBUT642Yw=s900-c-k-c0x00ffffff-no-rj"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          sollicitudin ac ex ut venenatis. Donec molestie commodo odio id
          tristique.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="https://yt3.googleusercontent.com/emFOgePlK8t44r7EdwU_c5BrO8-k-lrmYBI6zTa4jmTNSW0E5NzMv6eP8DeFMtrZ3oBUT642Yw=s900-c-k-c0x00ffffff-no-rj"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Project Name</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          sollicitudin ac ex ut venenatis. Donec molestie commodo odio id
          tristique.
        </p>
      </div>
    </div>
  </div>
</div>
