<!-- your html code here -->
<div class="container-fluid bg-light">
  <div class="row heading-services">
    <div class="col-3 border-bottom border-secondary py-5 px-0">
      <img
        src="assets/img/2.jpg"
        alt="laptop"
        class="img-fluid w-100 rounded-circle"
      />
    </div>
    <div class="col-9 border-bottom border-secondary py-5 px-0">
      <h2>
        The Second Heading
        <span class="text-secondary">Is Pretty Cool Too.</span>
      </h2>
      <p>
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursujs magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
  </div>
</div>
